In [ ]:
import pandas as pd
import sqldf

data_frame = pd.read_csv('./data/vgsales.csv')
data_frame


# 1. Requête qui retourne tous les jeux sortis sur NES.

# for game in data_frame.values:
#     if game[2] == "NES":
#         print(game[1])

# 2. Requête qui retourne la somme des ventes japonaises de tous les jeux.


# print(sum(data_frame["JP_Sales"]))

# 3. Requête qui retourne le nombre de jeux sorti à partir de 2008.

# nbr_of_games = 0
# for y in data_frame["Year"]:
#     if y >= 2008:
#         nbr_of_games += 1

# print(nbr_of_games)

# 4. Requête qui retourne le pourcentage de jeu Wii.

# nbr_wii_games = 0
# for y in data_frame["Platform"]:
#     if y == "Wii":
#         nbr_wii_games += 1

# percentage_wii = (nbr_wii_games/len(data_frame)) * 100
# print(percentage_wii)

8004

In [72]:
import pandas as pd
import sqldf

data_frame = pd.read_csv('./data/vgsales.csv')
data_frame.head

# BONUS. Réaliser les requêtes ci-dessus avec sqldf.
# 1. Requête qui retourne tous les jeux sortis sur NES.

# query = """
# SELECT Name
# FROM data_frame
# WHERE Platform = "NES"
# """

# sqldf.run(query)

# 2. Requête qui retourne la somme des ventes japonaises de tous les jeux.

# query = """
# SELECT sum(JP_Sales) as Total_price_jp_sales
# FROM data_frame
# """

# sqldf.run(query)

# 3. Requête qui retourne le nombre de jeux sorti à partir de 2008.

# query = """
# SELECT count() as Total_game_since_2008
# FROM data_frame
# WHERE Year >= 2008
# """

# sqldf.run(query)


# 4. Requête qui retourne le pourcentage de jeu Wii.

query = """
SELECT count(*) * 100.0 / sum(count(Platform)) over() as Wii_pourcentage
FROM data_frame
WHERE Platform = "Wii"
"""

sqldf.run(query)

# nbr_wii_games = 0
# for y in data_frame["Platform"]:
#     if y == "Wii":
#         nbr_wii_games += 1

# percentage_wii = (nbr_wii_games/len(data_frame)) * 100
# print(percentage_wii)

   Wii_pourcentage
0            100.0